body {
    font-family: Georgia, serif;
    font-size: 18px;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg?w=996&t=st=1677989971~exp=1677990571~hmac=261ad0ff95b12fab83c96d998f845ab3894e9a559e2288dd2724e447602ad40f');
    background-size: cover;
}